<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Source/assets/css/output.css">
    <title>Document</title>
</head>

<body>
    <div class="border-base-content/25 w-full rounded-lg border ">
        <div class="overflow-x-auto">
          <table class="table">
            <tr>
                <th class="normal-case w-1/2">1. Trải nghiệm người dùng</th>
                <th class="normal-case w-1/10 text-center">Rất không hài lòng</th>
                <th class="normal-case w-1/10 text-center">Không hài lòng</th>
                <th class="normal-case w-1/10 text-center">Bình thường</th>
                <th class="normal-case w-1/10 text-center">Hài lòng</th>
                <th class="normal-case w-1/10 text-center">Rất hài lòng</th>
            </tr>
            <tr>
                <td>Bạn đánh giá thế nào về tính cập nhật của chương trình học? </td>
                <td class="text-center"><input type="radio" name="radio-1" class="radio radio-primary" id="radioInline1" /></td>
                <td class="text-center"><input type="radio" name="radio-1" class="radio radio-primary" id="radioInline1" /></td>
                <td class="text-center"><input type="radio" name="radio-1" class="radio radio-primary" id="radioInline1" /></td>
                <td class="text-center"><input type="radio" name="radio-1" class="radio radio-primary" id="radioInline1" /></td>
                <td class="text-center"><input type="radio" name="radio-1" class="radio radio-primary" id="radioInline1" /></td>
            </tr>
            <tr>
                <td>Bạn đánh giá thế nào về tính cập nhật của chương trình học? </td>
                <td class="text-center"><input type="radio" name="radio-2" class="radio radio-primary" id="radioInline1" /></td>
                <td class="text-center"><input type="radio" name="radio-2" class="radio radio-primary" id="radioInline1" /></td>
                <td class="text-center"><input type="radio" name="radio-2" class="radio radio-primary" id="radioInline1" /></td>
                <td class="text-center"><input type="radio" name="radio-2" class="radio radio-primary" id="radioInline1" /></td>
                <td class="text-center"><input type="radio" name="radio-2" class="radio radio-primary" id="radioInline1" /></td>
            </tr>
            
          </table>
        </div>
    </div>
</body>

</html>